body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align:center;
}
nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 0;
    
}
.about {
    margin-top: 20px;
    margin-botton: 20px;
    overflow:auto;
}
.about-photo {
    float: left;
}
.about-text {
    float: left;
}

a {
    text-decoration: none;
    color: #999;

}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
img {
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
    line-height: 1.1em;
    color: #686868;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

